<template id="eva-assistant-chat-template">
  <div id="eva-assistant" class="invisible">
    <header id="eva-chat-header">
      <div class="header-left">
        <div class="custom-dropdown">
          <div class="dropdown-selected">En</div>
          <ul class="dropdown-list">
            <li class="dropdown-item" data-value="en" data-short="En">English</li>
            <li class="dropdown-item" data-value="ru" data-short="Ru">Russian</li>
            <li class="dropdown-item" data-value="de" data-short="De">German</li>
            <li class="dropdown-item" data-value="cz" data-short="Cs">Czech</li>
          </ul>
        </div>
        <button id="help-button" class="eva-chat-button-base">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM13 19H11V17H13V19ZM15.07 11.25L14.17 12.17C13.45 12.9 13 13.5 13 15H11V14.5C11 13.4 11.45 12.4 12.17 11.67L13.41 10.41C13.78 10.05 14 9.55 14 9C14 7.9 13.1 7 12 7C10.9 7 10 7.9 10 9H8C8 6.79 9.79 5 12 5C14.21 5 16 6.79 16 9C16 9.88 15.64 10.68 15.07 11.25Z" fill="#121212"/>
          </svg>
        </button>
      </div>

      <div class="header-center">
        <div class="logo">
          <img src="{{ 'eva-header-online.png' | asset_url }}" alt="Eva Assistant">
          <h1>Eva</h1>
        </div>
      </div>

      <div class="header-right">
        <div class="fold-button-wrapper">
          <button id="fold-chat-button" class="eva-chat-button-base">
            <svg width="24" height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="6" y="21" width="20" height="2.5" fill="#121212" />
            </svg>
          </button>
        </div>
        <div class="cancel-chat-button-wrapper">
          <button id="cancel-chat-button" class="eva-chat-button-base">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M19.92 5.91998L18.5 4.5L12.21 10.8L5.91998 4.5L4.5 5.91998L10.8 12.21L4.5 18.5L5.91998 19.92L12.21 13.62L18.5 19.92L19.92 18.5L13.62 12.21L19.92 5.91998Z" fill="#121212"/>
            </svg>
          </button>
        </div>
      </div>
    </header>
    <main id="eva-chat-main" class="full-width">
      <div id="eva-chat-loader">Loading...</div>

      <!-- Начальный экран -->
      <div id="initial-view" class="invisible full-width">
        <p>Hello,</p>
        <p>How can I help you?</p>

        <div class="options">
          <a class="btn"> What can you do? </a>
          <a class="btn"> Your best deal on vitamin C? </a>
          <a class="btn btn-short"> More </a>
        </div>
      </div>

      <div id="chat-view" class="invisible full-width"></div>
    </main>

    <div id="eva-footer-container">
      <footer id="eva-chat-footer" class="">
        <div class="tooltip-wrapper">
          <button id="record-voice-button" class="eva-chat-button-base">
            {% comment %}<img src="{{ 'microphone-icon.svg' | asset_url }}" alt="Microphone" />{% endcomment %}
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 25 25" fill="none">
              <circle cx="12.5" cy="12.5" r="12.5" fill="#121212" />
              <path
                d="M12.5 5C12.7041 5.00003 12.9011 5.07497 13.0536 5.21061C13.2062 5.34625 13.3036 5.53316 13.3275 5.73588L13.3333 5.83338V19.1675C13.3331 19.38 13.2518 19.5843 13.106 19.7387C12.9602 19.8932 12.7609 19.9861 12.5488 19.9986C12.3368 20.011 12.128 19.942 11.9651 19.8057C11.8023 19.6694 11.6976 19.476 11.6725 19.265L11.6667 19.1675V5.83338C11.6667 5.61236 11.7545 5.40038 11.9107 5.24409C12.067 5.0878 12.279 5 12.5 5ZM9.16667 7.50015C9.38768 7.50015 9.59964 7.58796 9.75592 7.74425C9.9122 7.90054 10 8.11251 10 8.33354V16.6674C10 16.8884 9.9122 17.1004 9.75592 17.2567C9.59964 17.413 9.38768 17.5008 9.16667 17.5008C8.94565 17.5008 8.73369 17.413 8.57741 17.2567C8.42113 17.1004 8.33333 16.8884 8.33333 16.6674V8.33354C8.33333 8.11251 8.42113 7.90054 8.57741 7.74425C8.73369 7.58796 8.94565 7.50015 9.16667 7.50015ZM15.8333 7.50015C16.0543 7.50015 16.2663 7.58796 16.4226 7.74425C16.5789 7.90054 16.6667 8.11251 16.6667 8.33354V16.6674C16.6667 16.8884 16.5789 17.1004 16.4226 17.2567C16.2663 17.413 16.0543 17.5008 15.8333 17.5008C15.6123 17.5008 15.4004 17.413 15.2441 17.2567C15.0878 17.1004 15 16.8884 15 16.6674V8.33354C15 8.11251 15.0878 7.90054 15.2441 7.74425C15.4004 7.58796 15.6123 7.50015 15.8333 7.50015ZM5.83333 10.0003C6.05435 10.0003 6.26631 10.0881 6.42259 10.2444C6.57887 10.4007 6.66667 10.6127 6.66667 10.8337V14.1672C6.66667 14.3883 6.57887 14.6002 6.42259 14.7565C6.26631 14.9128 6.05435 15.0006 5.83333 15.0006C5.61232 15.0006 5.40036 14.9128 5.24408 14.7565C5.0878 14.6002 5 14.3883 5 14.1672V10.8337C5 10.6127 5.0878 10.4007 5.24408 10.2444C5.40036 10.0881 5.61232 10.0003 5.83333 10.0003ZM19.1667 10.0003C19.3708 10.0003 19.5678 10.0753 19.7203 10.2109C19.8728 10.3466 19.9703 10.5335 19.9942 10.7362L20 10.8337V14.1672C19.9998 14.3796 19.9184 14.584 19.7726 14.7384C19.6268 14.8929 19.4275 14.9858 19.2155 14.9983C19.0035 15.0107 18.7947 14.9417 18.6318 14.8054C18.4689 14.669 18.3643 14.4757 18.3392 14.2647L18.3333 14.1672V10.8337C18.3333 10.6127 18.4211 10.4007 18.5774 10.2444C18.7337 10.0881 18.9457 10.0003 19.1667 10.0003Z"
                fill="white" />
            </svg>
          </button>
          <span class="tooltip">Use voice mode</span>
        </div>

        <input type="text" id="query-input" placeholder="What can you do?">

        <button id="send-query-button" class="eva-chat-button-base">
          <svg width="26" height="26" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12.0001" r="12" transform="rotate(180 12 12.0001)" fill="#121212" />
            <path d="M12.0002 17.3333V6.66666M12.0002 6.66666L7.3335 11.3333M12.0002 6.66666L16.6668 11.3333"
              stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
        <button id="cancel-waiting-button" class="invisible">
          <svg width="26" height="26" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 8.85652 0.737498 10.637 2.05025 11.9497C3.36301 13.2625 5.14348 14 7 14C8.85652 14 10.637 13.2625 11.9497 11.9497C13.2625 10.637 14 8.85652 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0ZM5 4.5C4.86739 4.5 4.74021 4.55268 4.64645 4.64645C4.55268 4.74021 4.5 4.86739 4.5 5V9C4.5 9.13261 4.55268 9.25979 4.64645 9.35355C4.74021 9.44732 4.86739 9.5 5 9.5H9C9.13261 9.5 9.25979 9.44732 9.35355 9.35355C9.44732 9.25979 9.5 9.13261 9.5 9V5C9.5 4.86739 9.44732 4.74021 9.35355 4.64645C9.25979 4.55268 9.13261 4.5 9 4.5H5Z"
              fill="#121212" />
          </svg>
        </button>
      </footer>

      <footer id="eva-voice-footer" class="invisible">
        <img id="back-text" src="{{ 'back_text.svg' | asset_url }}" class="">
        <button id="voice-toggle-button" class="eva-chat-button-base">
          <svg width="80" height="80" viewBox="0 0 136 136" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_537_2056)">
              <path d="M68 136C105.555 136 136 105.555 136 68C136 30.4446 105.555 0 68 0C30.4446 0 0 30.4446 0 68C0 105.555 30.4446 136 68 136Z" fill="#2647FF"/>
              <path d="M68.0002 27.2002C69.1105 27.2004 70.1822 27.608 71.0118 28.3459C71.8419 29.0838 72.3718 30.1006 72.5018 31.2034L72.5333 31.7338V104.271C72.5323 105.427 72.09 106.539 71.2968 107.379C70.5037 108.219 69.4195 108.725 68.2657 108.793C67.1124 108.86 65.9765 108.485 65.0903 107.743C64.2047 107.002 63.6351 105.95 63.4986 104.802L63.467 104.271V31.7338C63.467 30.5314 63.9447 29.3783 64.7944 28.528C65.6447 27.6778 66.798 27.2002 68.0002 27.2002ZM49.8669 40.801C51.0692 40.801 52.2222 41.2787 53.0724 42.1289C53.9226 42.9791 54.4002 44.1322 54.4002 45.3347V90.6708C54.4002 91.8731 53.9226 93.0264 53.0724 93.8766C52.2222 94.7269 51.0692 95.2045 49.8669 95.2045C48.6645 95.2045 47.5115 94.7269 46.6613 93.8766C45.8111 93.0264 45.3335 91.8731 45.3335 90.6708V45.3347C45.3335 44.1322 45.8111 42.9791 46.6613 42.1289C47.5115 41.2787 48.6645 40.801 49.8669 40.801ZM86.1333 40.801C87.3356 40.801 88.4889 41.2787 89.3391 42.1289C90.1894 42.9791 90.667 44.1322 90.667 45.3347V90.6708C90.667 91.8731 90.1894 93.0264 89.3391 93.8766C88.4889 94.7269 87.3356 95.2045 86.1333 95.2045C84.9311 95.2045 83.7784 94.7269 82.9281 93.8766C82.0778 93.0264 81.6002 91.8731 81.6002 90.6708V45.3347C81.6002 44.1322 82.0778 42.9791 82.9281 42.1289C83.7784 41.2787 84.9311 40.801 86.1333 40.801ZM31.7335 54.4018C32.9359 54.4018 34.0889 54.8795 34.9391 55.7297C35.7892 56.58 36.2669 57.7333 36.2669 58.9355V77.0698C36.2669 78.2725 35.7892 79.4253 34.9391 80.2756C34.0889 81.1258 32.9359 81.6035 31.7335 81.6035C30.5312 81.6035 29.3782 81.1258 28.528 80.2756C27.6778 79.4253 27.2002 78.2725 27.2002 77.0698V58.9355C27.2002 57.7333 27.6778 56.58 28.528 55.7297C29.3782 54.8795 30.5312 54.4018 31.7335 54.4018ZM104.267 54.4018C105.377 54.4018 106.449 54.8098 107.279 55.5475C108.108 56.2857 108.639 57.3024 108.769 58.4051L108.8 58.9355V77.0698C108.799 78.2252 108.356 79.3372 107.563 80.1771C106.77 81.0176 105.686 81.5229 104.533 81.5909C103.379 81.6584 102.243 81.283 101.357 80.5416C100.471 79.7996 99.902 78.748 99.7654 77.6002L99.7333 77.0698V58.9355C99.7333 57.7333 100.211 56.58 101.061 55.7297C101.912 54.8795 103.065 54.4018 104.267 54.4018Z" fill="white"/>
            </g>
            <defs>
              <clipPath id="clip0_537_2056">
                <rect width="136" height="136" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        </button>
        <button id="mute-toggle-button" class="eva-chat-button-base">
          <svg width="35" height="35" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M43 86C66.7482 86 86 66.7482 86 43C86 19.2518 66.7482 0 43 0C19.2518 0 0 19.2518 0 43C0 66.7482 19.2518 86 43 86Z" fill="#121212"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M60.3805 62.7969L56.4761 59.6946C65.179 50.2495 65.179 35.8108 56.476 26.3657L60.3804 23.2636C70.54 34.5304 70.5397 51.5301 60.3805 62.7969ZM50.482 31.1283L46.5731 34.234C51.241 39.1931 51.2409 46.8675 46.5732 51.8266L50.4821 54.9322C56.6058 48.1497 56.6058 37.9108 50.482 31.1283ZM40.4923 23L27.4891 33.1621H18V53.0443H27.5037L40.4923 63V23Z" fill="white"/>
          </svg>
        </button>
        <img id="cancel-voice" src="{{ 'cancel_voice.svg' | asset_url }}" class="">
      </footer>
    </div>
    <button class="invisible right-arrow">
      <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="12" cy="12" r="12" fill="#121212" />
        <path d="M10.8077 6L10 7L14.2692 12L10 17L10.8077 18L16 12L10.8077 6Z" fill="white" />
      </svg>
    </button>
    <button class="invisible left-arrow">
      <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="12" cy="12" r="12" transform="rotate(-180 12 12)" fill="#121212" />
        <path d="M13.1923 18L14 17L9.73077 12L14 7L13.1923 6L8 12L13.1923 18Z" fill="white" />
      </svg>
    </button>
  </div>
</template>

<!-- Подключаем CSS и JavaScript для блока -->
<link rel="stylesheet" href="{{ 'styles_v1.css' | asset_url }}">
<!-- Required Core Stylesheet -->
<link rel="stylesheet" href="{{ 'glide.core.min.css' | asset_url }}">
<!-- Optional Theme Stylesheet -->
<link rel="stylesheet" href="{{ 'glide.theme.min.css' | asset_url }}">

<script src="https://unpkg.com/@glidejs/glide"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
  rel="stylesheet"
>
<link href="https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100..800&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js" defer></script>

<div
  class="invisible"
  id="eva-chat-pics"
  eva-welcoming="{{ " eva-welcoming.png" | asset_url }}"
  eva-thinking="
    {{ "
    eva-thinking.png" | asset_url }}
  "
  eva-sad="{{ " eva-sad.png" | asset_url }}"
></div>

<div id="chatbot-logo" chatbot-logo="{{ " eva-welcoming.png" | asset_url}}"></div>

<script src="{{ 'productCards.js' | asset_url }}"></script>
<script src="{{ 'navigation.js' | asset_url }}"></script>
<script src="{{ 'factories.js' | asset_url }}"></script>
<script src="{{ 'fetchers.js' | asset_url }}"></script>
<script src="{{ 'utils.js' | asset_url }}"></script>
<script src="{{ 'tw.js' | asset_url }}"></script>
<script src="{{ 'speechRecognition.js' | asset_url }}"></script>
<script src="{{ 'app_v1.js' | asset_url }}"></script>
<script src="{{ 'cart.js' | asset_url }}"></script>

{% schema %}
{
  "name": "App Window",
  "target": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Eva Assistant"
    }
  ]
}
{% endschema %}
